/*웹프로그래밍 3분반 32180472 김동규 5주차 과제*/
html,body{
        height:100%;
        width: 100%;    
        margin: 0;
        padding: 0;
}
audio{
    position: fixed;
    bottom:20px;
    right:20px;
}
header{
    float:left;
    background-color: yellowgreen;
    width:100%;
}
nav, section{
    height:200em;
}
nav{
    float:left;
    /*overflow:auto;*/
    width:20%;
    background-color:orange;
}
section{
    float:right;
    overflow:auto;
    width:80%;
    background-color:skyblue;
}
footer{
    clear:both;
    width:100%;
    background:violet;
}

/*5주차 과제 이전 적용하였던 css코드들*/
h1{
	text-align: center;
	color: brown;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{
    font-family: "나눔손글씨 딸에게 엄마가", Arial;
    font-size: 1em;
    text-indent: 1em;
}
sup{
    font-size: 0.6em;
}
img{
    max-width: 50%;
    height: auto;
}
table{
    border-collapse:collapse;
    border: 1px solid #ccc;
}
th,td{
    border: 1px solid #ccc;
}
tbody td, ul > li, figcaption{
    font-family: "나눔손글씨 딸에게 엄마가", Arial;
    font-size: 1em;
}
figure{
    text-align: center;
    margin-bottom:3px;
}
